/**
 * Custom styles
 */

@import url(http://fonts.googleapis.com/css?family=Duru+Sans);
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);
/* Import slideshow styles */
@import url(slideshow/slideshow.css);

body {
	background-color: #ddd;
}

#wrapper {
	position:relative;
	width: 1500px;
	margin: 50px auto;
}

h1 {
	margin-top: 0;
	font-family: "Hammersmith One", sans-serif;
	font-size: 2.5em;
	text-transform:uppercase;
}

h2 {
	font-family: "Duru Sans", sans-serif;
}

p {
	font: 0.8em/1.6em Georgia, serif;
}

div#aside {
	position: absolute;
	top: 55px;
	left: 780px;
	width: 720px;
}

p + code, p + pre {
	display: block;
	width: 660px;
	margin-top: -8px !important;
}

pre {
	padding: 0.5em;
	background: #eee;
	color: black;
	border-radius: 6px;
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	letter-spacing: 1px;
}

#release {
	background: red;
	color: white;
	padding: 1em;
	position: absolute;
	top: -25px;
	right: 160px;
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	font-family: "Hammersmith One", sans-serif;
	font-size: 1.5em;
}

/* Download button */
button.download {
	font-family: "Hammersmith One", sans-serif;
	font-size: 1.5em;
	background: gray;
	color: white;
	margin-left: 100px;
}

ol li + li {
    margin-top: 8px !important;
}

.red {
	color: red;
}

.center {
	margin: 0 auto;
}

.yellowBg {
	background: yellow;
}

.orangeBg {
	background: orange;
}

.whiteBg {
	background: #fff;
}

.lilacBg {
	background: #ccd;
}

.limeBg {
	background: lime;
}

.aquaBg {
	background: aqua;
}

.pinkBg {
	background: #f9f;
}

.grayBg {
	background: #bbb;
}

.right {
	float: right;
}

.left {
	float: left;
}